@using BlazorBootstrap
@using DAL.DTOs
@using DAL.Models
@using DAL.Services.Interfaces
@using UserHierarchyBlazor.Services
@inject DragAndDropService DragAndDropService
@inject IUserService userService
@rendermode InteractiveServer

<Modal @ref="editModal" Title="Edit User">
    <BodyTemplate>
        <div class="mb-3">Username:</div>
        <TextInput @bind-Value="Node.Root.Username" Placeholder="Enter Username" />
        <div class="mb-3">Full Name:</div>
        <TextInput @bind-Value="Node.Root.FullName" Placeholder="Enter Full Name" />
        <div class="mb-3">Email:</div>
        <TextInput @bind-Value="Node.Root.Email" Placeholder="Enter Email" />
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="HideEditUserModal">Cancel</Button>
        <Button Color="ButtonColor.Primary" @onclick="SaveUser">Save</Button>
    </FooterTemplate>
</Modal>

<ConfirmDialog @ref="deleteDialog" />

<li class="node">

    <div draggable="@(Node.Root != null ? "true" : "false")"
        @ondragstart="HandleDragStart"
        @ondrop="HandleDropOnNode"
        @ondragover:preventDefault
        @onclick="() => Node.IsExpanded = !Node.IsExpanded" >
        @if (Node.Root != null)
        {
            @if (IsLastChild)
            {
                <Image Src="images/TreeParentChildConnectorEnd.png" Alt="Icon" Class="node-icon" />
            }
            else
            {
                <Image Src="images/TreeParentChildConnector.png" Alt="Icon" Class="node-icon" />
            }
        }

        @Node.Root?.FullName

        @if (Node.Children.Any())
        {
            @(Node.IsExpanded ? " ▼ " : " ▶ ")
            
        }
        @if (Node.Root != null)
        {
            <Button Color="ButtonColor.Warning" Outline="true" @onclick="ShowEditUserModal" Class="node-action-button">Edit <Icon Name="IconName.PencilSquare" /></Button>
            <Button Color="ButtonColor.Danger" Outline="true" @onclick="DeleteUser" Class="node-action-button">Delete <Icon Name="IconName.Trash" /></Button>
        }
    </div>

    @if (Node.IsExpanded)
    {
        <ul class="children-list">
            @for (int i = 0; i < Node.Children.Count; i++)
            {
                int currentIndex = i;
                <div class="@GetDropZoneClass(currentIndex)"
                     @ondrop="() => HandleDropAt(currentIndex)"
                     @ondragenter="() => OnDragEnter(currentIndex)"
                    @ondragleave="OnDragLeave"
                     @ondragover:preventDefault>
                </div>

                <TreeItem Node="Node.Children[i]" IsLastChild="i == Node.Children.Count - 1" OnTreeChanged="OnTreeChanged" />

                @if (i == Node.Children.Count - 1)
                {
                    <div class="@GetDropZoneClass(currentIndex + 1)"
                         @ondrop="() => HandleDropAt(currentIndex + 1)"
                         @ondragenter="() => OnDragEnter(currentIndex + 1)"
                         @ondragleave="OnDragLeave"
                         @ondragover:preventDefault>
                    </div>
                }
            }
        </ul>
    }
</li>

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.BottomRight" />

@code {
    [Parameter]
    public required UserNode Node { get; set; }

    [Parameter]
    public EventCallback OnTreeChanged { get; set; }

    [Parameter]
    public bool IsLastChild { get; set; }

    public int DraggingOverIndex { get; set; } = -1;

    private ConfirmDialog deleteDialog = default!;

    private Modal editModal = default!;

    private List<ToastMessage> messages = new List<ToastMessage>();

    private void HandleDragStart()
    {
        if (Node.Root == null) return; // Prevent dragging the root node
        DragAndDropService.DraggedNode = Node;
    }

    private async Task HandleDropOnNode()
    {
        await HandleDropAt(Node.Children.Count); // Drop on the node itself means adding as the last child
    }

    private async Task TreeHasChanged()
    {
        await OnTreeChanged.InvokeAsync();
    }

    private async Task HandleDropAt(int index)
    {
        if (DragAndDropService.DraggedNode == null || DragAndDropService.DraggedNode == Node) return;

        if (Node.Root?.Id == DragAndDropService.DraggedNode.UserHierarchy.ParentId && index > DragAndDropService.DraggedNode.UserHierarchy.SortOrder)
        {
            index -= 1; // Adjust index if dragging within the same parent to higher position
        }

        if (DragAndDropService.DraggedNode.UserHierarchy.SortOrder == index)
        {
            DraggingOverIndex = -1;
            return;
        }

        UserHierarchy userHierarchy = new UserHierarchy()
        {
            ParentId = Node.Root?.Id,
            SortOrder = index
        };
        await userService.MoveUserAsync(DragAndDropService.DraggedNode.Root, userHierarchy);

        await OnTreeChanged.InvokeAsync();
        DragAndDropService.DraggedNode = null;
        DraggingOverIndex = -1;
    }

    private void OnDragEnter(int index) => DraggingOverIndex = index;
    private void OnDragLeave() => DraggingOverIndex = -1;

    // Helper to get CSS class for the drop zone
    private string GetDropZoneClass(int index) =>
        DraggingOverIndex == index ? "drop-zone active" : "drop-zone";

    private async Task ShowEditUserModal()
    {
        await editModal.ShowAsync();
    }

    private async Task SaveUser()
    {
        bool success = await userService.UpdateUserAsync(Node.Root);
        if (success)
        {
            ToastMessage toastMessage = new ToastMessage
            {
                Type = ToastType.Success,
                Title = "Edit User",
                HelpText = $"{DateTime.Now}",
                Message = $"User '{Node.Root.Username}' edited successfully! DateTime: {DateTime.Now}",
            };
            messages.Add(toastMessage);
        }
        else
        {
            ToastMessage toastMessage = new ToastMessage
            {
                Type = ToastType.Danger,
                Title = "Edit User",
                HelpText = $"{DateTime.Now}",
                Message = $"Failed to edit user '{Node.Root.Username}'. DateTime: {DateTime.Now}",
            };
            messages.Add(toastMessage);
        }
        editModal.HideAsync();
        await OnTreeChanged.InvokeAsync();
    }

    private async Task HideEditUserModal()
    {
        await editModal.HideAsync();
    }

    private async Task DeleteUser()
    {
        ConfirmDialogOptions options = new ConfirmDialogOptions
        {
            YesButtonText = "Delete",
            YesButtonColor = ButtonColor.Danger,
            NoButtonText = "Cancel",
            NoButtonColor = ButtonColor.Secondary
        };

        bool confirmation = await deleteDialog.ShowAsync(
            title: "Delete User",
            message1: $"Are you sure you want to delete user '{Node.Root?.FullName}'?",
            confirmDialogOptions: options);

        if (!confirmation) return;

        bool success = await userService.DeleteUserAsync(Node);
        if (success)
        {
            ToastMessage toastMessage = new ToastMessage
            {
                Type = ToastType.Success,
                Title = "Delete User",
                HelpText = $"{DateTime.Now}",
                Message = $"User '{Node.Root.Username}' deleted successfully! DateTime: {DateTime.Now}",
            };
            messages.Add(toastMessage);
        }
        else
        {
            ToastMessage toastMessage = new ToastMessage
            {
                Type = ToastType.Danger,
                Title = "Delete User",
                HelpText = $"{DateTime.Now}",
                Message = $"Failed to delete user '{Node.Root.Username}'. DateTime: {DateTime.Now}",
            };
            messages.Add(toastMessage);
        }
        await OnTreeChanged.InvokeAsync();
    }
}